h1
{
	color: black; 
	font-size: 40px;
}
body {
    background-color: #FFBB33;
}
#myCanvas{
	border-width: 10px;
	border-color: black ;
	background-color: white;
	border-style: ridge;
}
#myCanvasloop{
	border-width: 10px;
	border-color: black ;
	background-color: white;
	border-style: ridge;
}